@import "tailwindcss";

@theme {
  --color-peach: #F2A882;
  --color-gardenia: #EDE8D8;
  --color-biscay: #8EC4A2;
  --color-lavender: #9B8EAA;
  --color-obsidian: #1A1918;

  --color-biscay-dark: #6aaa87;
  --color-biscay-light: #c4e4d0;
  --color-peach-light: #f9d5c0;
  --color-peach-dark: #c4623a;
}

body {
  background-color: #EDE8D8;
  color: #1A1918;
}
